.mySwiper {
  margin-top: 1rem;
  min-height: 250px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: rgba($color: #000000, $alpha: 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  //   background-size: contain;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
  opacity: 1 !important;
}
