.nav {
  ul {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #000;
      height: 4rem;
      cursor: pointer;
      position: relative;

      img {
        width: 20px;

        height: 20px;
      }

      @media (min-width: 800px) {
        transition: all 0.2s ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }

      &::before {
        content: "";
        position: absolute;
        transform: translateY(-2rem);
        left: -50px;
        right: -50px;
        height: 1px;
        background: #000;
        opacity: 0.2;
      }
    }
  }
}
