.nav {
  ul {
    display: flex;
    flex-direction: column;

    .logout {
      position: absolute;
      bottom: 0;
    }

    li {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #000;
      height: 4rem;
      cursor: pointer;

      @media (min-width: 800px) {
        transition: all 0.2s ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }

      .line {
        position: fixed;
        transform: translateY(-2rem);
        left: 0;
        right: 0;
        height: 1px;
        background: #000;
        opacity: 0.2;

        &_bottom {
          position: absolute;
          transform: translateY(2rem);
          left: 0;
          right: 0;
          height: 1px;
          background: #000;
          opacity: 0.2;
        }
      }
    }
  }
}
