@import "/src/app/styles/variables";

body {
  background-color: $bg-color;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  position: relative;

  @media (max-width: 800px) {
    padding-bottom: 5rem;
  }
}

.extra {
  position: fixed;
  // right: 40px;
  transform: translateX(800px);
  bottom: 0;
  z-index: 5;

  div {
    div:nth-child(3) {
      box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
    }
  }
}
