@import "/src/app/styles/variables";

body {
  background-color: $bg-color;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  position: relative;

  @media (max-width: 800px) {
    padding-bottom: 5rem;
  }
}
