.post {
  margin: 1rem 0;
  background: #fff;
  padding: 20px 0;
  border-radius: 20px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);

  .title {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .desc {
    margin-top: 5px;
  }

  .slider {
    margin-top: 1rem;
    height: 200px;
    background: #000;
    opacity: 0.7;
  }

  .nav_bar {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    .btns {
      display: flex;
      align-items: center;
      gap: 2rem;

      img {
        width: 25px;
        cursor: pointer;
      }

      .img {
        cursor: pointer;
      }
    }
  }
}
